<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a href="#" onclick="window.open('http://www.google.com', '_system', 'location=yes'); return false;" id="page-button1" class=" button button-positive  button-block ">Google</a>
        <a href="http://www.google.com/" id="page-button1" class=" button button-positive  button-block ">Google href</a>
        <a href="mailto:xyz@gmail.com" onclick="alert('clicked!');" id="page-button2" class=" button button-balanced  button-block ">Send Email</a>
        <a href="mailto:xyz@gmail.com?Subject=Application%20for%20Accreditation" id="page-button3" class=" button button-assertive  button-block ">Send Email with subject</a>
        <a href="tel:+18009829337" id="page-button4" class=" button button-royal  button-block ">Call Number</a>
        <a href="#" ng-click="open_google()" id="page-button5" class=" button button-dark  button-block ">Google.com with ng-click</a>
    </ion-content>
</ion-view>